services:
  automator:
    build:
      context: backend
      dockerfile: Dockerfile
    container_name: automator-backend
    ports:
     - "8000:8000"
    volumes:
      # Mount current directory to workspace
      - .:/work
      # Keep command history
      - automator-history:/root
    environment:
      - PYTHONUNBUFFERED=1
      - TERM=xterm-256color
    working_dir: /work
    stdin_open: true
    tty: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis

  celery:
    container_name: celery
    build:
      context: backend
      dockerfile: Dockerfile
    command: celery -A api worker -l INFO
    depends_on:
      - redis


volumes:
  automator-history:

